.container
  min-width: 1200px
  margin: 0 auto

ul
  padding: 0

.languages
  display: flex
  justify-content: center
  li
    list-style-type: none
    margin: 10px
    font-weight: bold
    cursor: pointer
