

.container
  display: grid
  grid-template-columns: 70px 2fr 2fr 70px
  grid-template-rows: 50px 2fr 50px
  grid-template-areas: "nav nav nav nav" ".  main main ." ". . . ."
  grid-column-gap: 5px

.players
  grid-area: main

.nav
  display: flex
  grid-area: nav
  align-self: center

ul
  padding: 0

li
  list-style-type: none

.languages
  display: flex
  justify-content: center
  font-size: 20px
  li
    margin: 10px
    font-weight: bold
    cursor: pointer
    transition: color 400ms
    &:hover
      color: rgba(208, 2, 27, 0.71)
.popular
  grid-area: main


.popular-list
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
  grid-template-rows: auto

.popular-item
  margin: 3px
  text-align: center

.space-list-items
  margin-bottom: 7px
  text-align: center

.avatar
  width: 150px
  border-radius: 50%

.popular-rank
  font-size: 20px
  margin: 10px



.active
  font-weight: bold

.nav li
  margin-left: 15px

a
  text-decoration: none
  color: #d0021b

.home-container
  display: flex
  flex-direction: column
  grid-area: main
  text-align: center

.button
  color: #e6e6e6
  background: #0a0a0a
  border: none
  font-size: 16px
  border-radius: 3px
  width: 200px
  text-align: center
  display: block
  padding: 7px 0
  margin: 10px auto
  &:hover:enabled
    background: linear-gradient(#1a1a1a, #0a0a0a)
    color: #ffffff
    text-decoration: none
  &:active
    transform: translateY(1px)

.row
  display: flex
  justify-content: space-around

.column
  display: flex
  flex-direction: column
  width: 500px
  align-items: center
  input
    border-radius: 3px
    margin: 10px 0
    padding: 5px
    border: 1px solid rgba(0,0,0,0.43)
    font-size: 16px
    width: 80%
  label
    text-align: center
    font-size: 30px
    font-weight: 200

.header
  text-align: center
  font-size: 30px
  font-weight: 200

.reset
  border: none
  background: transparent
  color: #d0021b
  display: block
  width: 100%
  text-align: center
  &:hover
    cursor: pointer

@media (max-width: 600px)
  .avatar
    width: 120px
  .container
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 50px 2fr 50px
    grid-template-areas: ". nav ." ". main ." ". . . "
    grid-gap: 2px
    .nav
      justify-self: center
    .popular .languages
      font-size: 12px
    .popular-list
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
    .row
      display: inline-block
      .column
        width: 200px



@media (min-width: 1230px)
  .container
    grid-column-gap: 20px

